@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Goldman', cursive;
    background-color: #7bc2e0;
}

h1, .before-login, #games, #runs, #message, #game-display, #buttons, #auth {
    text-align: center
}

h1 {
    border-bottom: 3px solid black;
}

// #game-display {
//     display: flex
// }